<%= form_for @user, url: login_path do |f| %>
  <li><%= f.text_field :username, :placeholder => "username" %></li>
  <li><%= f.text_field :password, type: "password", :placeholder => "password"%></li>
  <li><%= f.submit "Login" %></li>

<% end %>