<h1>Welcome to Jim's Website</h1>

<div>
  <%= link_to 'Blog', posts_path %>
</div>
<div>
  <%= link_to 'About Me', about_path %>
</div>
<div>
  <%= link_to 'Resume', resume_path %>
</div>

<div class="chicagoskylineimage">
</div>