<h2>Active Record Reference Sheet</h2>
<h4>by Jim O'Neal on February 15, 2016</h4>

<div class="blog-container-wide mar-t-1 mar-b-1">
  <p class="standard-text">ActiveRecord is a Ruby library for working with Relational SQL Databases like MySQL. It provides an Object Relational Mapping (ORM) with these core features:</p>
  <ul class="standard-text">
    <li>A single Ruby object maps to a database table.</li>
    <li>Columns are accessed by methods, and are inferred from the database schema.</li>
    <li>Methods for create, read, update, and delete (CRUD) are defined.</li>
    <li>A Domain Specific Language (DSL) for easily constructing SQL queries in Ruby.</li>
  </ul>
  <p class="standard-text">Below are a list of common commands and notes that may be helpful to set up your Active Record database for a Ruby application.</p>

  <p class="text-18p"><strong>FROM THE COMMAND LINE:</strong></p>

  <table>
    <tr>
      <td width="35%">To install the Bundler gem:</td>
      <td width="65%"><span class="code">gem install bundler</span></td>
    </tr>
    <tr>
      <td>To install the gems listed in the Gemfile:</td>
      <td><span class="code">bundle install</span></td>
    </tr>
    <tr>
      <td>To create the database:</td>
      <td><span class="code">bundle exec rake db:create</span></td>
    </tr>
    <tr>
      <td>To create a model file:</td>
      <td><span class="code">bundle exec rake generate:model NAME=person</span></td>
    </tr>
    <tr>
      <td>To create migration file:</td>
      <td><span class="code">bundle exec rake generate:migration NAME=create_people</span></td>
    </tr>
    <tr>
      <td>To run all migration files:</td>
      <td><span class="code">bundle exec rake db:migrate</span></td>
    </tr>
    <tr>
      <td>To populate the database with data from seed file:</td>
      <td><span class="code">bundle exec rake db:seed</span></td>
    </tr>
    <tr>
      <td>To open the Rake console:</td>
      <td><span class="code">bundle exec rake console</span></td>
    </tr>
  </table>
  <br>
  <p class="text-18p"><strong>FROM THE RAKE CONSOLE</strong></p>
  <p class="standard-text">The rake console can be used to generate SQL queries via the Active Record ORM.  These commands can also be used from within Ruby and Ruby on Rails applications.  Below are some examples of common commands that might be used (using a 'dogs' table and 'Dog' class as an example):</p>

  <table>
    <tr>
      <td width="40%"><span class="code">Dog.all</span></td>
      <td width="60%">Retreives all object instances of the Dog class.</td>
    </tr>
    <tr>
      <td><span class="code">Dog.where(age: 1)</span></td>
      <td>.where is a class method that can accept a hash argument that specifies the values of specific fields on the database table. In this case, we want all the dogs whose age is 1.</td>
    </tr>
    <tr>
      <td><span class="code">Dog.order(age: :desc)</span></td>
      <td>.order allows us to retrieve records ordered by specified attributes.  :desc specifies descending order.</td>
    </tr>
    <tr>
      <td><span class="code">Dog.limit(2)</span></td>
      <td>.limit allows us to specify a maximum number of records to return.</td>
    </tr>
    <tr>
      <td><span class="code">Dog.order(age: :desc)</span></td>
      <td>.order allows us to retrieve records ordered by specified attributes.  :desc specifies descending order.</td>
    </tr>
    <tr>
      <td><span class="code">Dog.count</span></td>
      <td>.count returns the number of records in the database.</td>
    </tr>
    <tr>
      <td><span class="code">Dog.pluck(:name, :age)</span></td>
      <td>.pluck allows us to retrieve just the values of specified fields.  .pluck doesn't create Dog class instances, it just gives us the values you ask for.</td>
    </tr>
    <tr>
      <td><span class="code">Dog.first</span></td>
      <td>.first returns the first record in the dogs table, ordered by primary key.  Optionally, you can pass an argument to get multiple objects back (e.g., Dog.first(2)); this would return a collection.</td>
    </tr>
    <tr>
      <td><span class="code">Dog.find(3)</span></td>
      <td>Knowing the value of its primary key (in the example, id is the primary key), we can retrieve that dog using the .find method. We can also specify an array of ID's, if we're looking for multiple records (e.g., Dog.find [1, 3]).</td>
    </tr>
    <tr>
      <td><span class="code">Dog.find_by(name: "Jayda")</span></td>
      <td>To search for a dog with specific name use the .find_by method.  .find_by is similar to .where in that we can pass it a hash of attribute values that it should match. However, .where returns a collection of all records that match the given conditions. .find_by will return a single instance, even if there are multiple matches in the database.</td>
    </tr>
    <tr>
      <td><span class="code">new_dog = Dog.new(name: "Bear")</span></td>
      <td>Instantiating a new dog.</td>
    </tr>
    <tr>
      <td><span class="code">new_dog.persisted?</span></td>
      <td>Asking a dog object if it's been saved. Returns true or false.</td>
    </tr>
    <tr>
      <td><span class="code">new_dog.save</span></td>
      <td>Saving a dog to the database.</td>
    </tr>
    <tr>
      <td><span class="code">Dog.create(name: "Max")</span></td>
      <td>.create does .new and .save in one step.  Multiple dogs can be created by passing multiple hashes in an array.</td>
    </tr>
    <tr>
      <td><span class="code">Dog.find_or_initialize_by(license: "OH-9384764")</span></td>
      <td>Find and return the dog with license OH-9384764 or instantiate an object with that license.</td>
    </tr>
    <tr>
      <td><span class="code">Dog.find_or_create_by(name: "Taj", license: "OH-9084736")</span></td>
      <td>Find and return the dog with the name Taj and license OH-9084736 or instantiate and save an object with that name and license.</td>
    </tr>
  </table>
  <br>

  <p class="text-18p"><strong>SCHEMA, MODEL, AND MIGRATION FILE EXAMPLES:</strong></p>

  <p class="standard-text"><i>Schema:</i></p>

  <%= image_tag("projects/shirts-schema.png", class: "width-80 mar-b-1") %>

  <p class="standard-text"><i>Model Files:</i></p>

  <p class="codewide">class User < ActiveRecord::Base<br>
    &nbsp;&nbsp;has_many :designed_shirts, { :class_name => "Shirt", :foreign_key => :designer_id }<br>
    &nbsp;&nbsp;has_many :purchases, { :foreign_key => :purchaser_id}<br>
    &nbsp;&nbsp;has_many :purchased_shirts, { :through => :purchases, :source => :shirt}<br>
    &nbsp;&nbsp;has_many :sales, { :through => :designed_shirts}<br>
    &nbsp;&nbsp;has_many :clients, { :through => :sales, :source => :purchaser}<br>
    &nbsp;&nbsp;has_many :supported_designers, { :through => :purchased_shirts, :source => :designer}<br>
  end</p>

  <p class="code">class Shirt < ActiveRecord::Base<br>
    &nbsp;&nbsp;belongs_to :designer, { :class_name => "User" }<br>
    &nbsp;&nbsp;has_many :sales, { :class_name => "Purchase" }<br>
    &nbsp;&nbsp;has_many :purchasers, { :through => :sales}<br>
  end</p>

  <p class="code">class Purchase < ActiveRecord::Base<br>
    &nbsp;&nbsp;belongs_to :purchaser, { :class_name => "User" }<br>
    &nbsp;&nbsp;belongs_to :shirt<br>
  end</p>


  <p class="standard-text"><i>Migration Files:</i></p>

  <p class="code">class CreateUsers < ActiveRecord::Migration<br>
    &nbsp;&nbsp;def change<br>
      &nbsp;&nbsp;&nbsp;&nbsp;create_table :users do |t|<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;t.string :name<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;t.timestamps(null: false)<br>
      &nbsp;&nbsp;&nbsp;&nbsp;end<br>
    &nbsp;&nbsp;end<br>
  end</p>

  <p class="code">class CreateShirts < ActiveRecord::Migration<br>
    &nbsp;&nbsp;def change<br>
      &nbsp;&nbsp;&nbsp;&nbsp;create_table :shirts do |t|<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;t.integer :designer_id<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;t.timestamps(null: false)<br>
      &nbsp;&nbsp;&nbsp;&nbsp;end<br>
    &nbsp;&nbsp;end<br>
  end</p>

  <p class="code">class CreatePurchases < ActiveRecord::Migration<br>
    &nbsp;&nbsp;def change<br>
      &nbsp;&nbsp;&nbsp;&nbsp;create_table :purchases do |t|<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;t.integer :purchaser_id<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;t.integer :shirt_id<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;t.timestamps(null: false)<br>
      &nbsp;&nbsp;&nbsp;&nbsp;end<br>
    &nbsp;&nbsp;end<br>
  end</p>
</div>

<script>
  $('#login-bar').removeClass();
  $('#nav-bar').removeClass();
  $('#login-bar').hide();
  $('#nav-bar').addClass('col-md-12');
  $('.nav-link').removeClass('nav-highlight');
  $('.project-link').addClass('nav-highlight');
</script>