<h1>Projects</h1>
<div class="blog-container">
  <p class="standard-text">UNDER CONSTRUCTION - PLEASE COME BACK LATER</p>
</div>
<script>
  $('#login-bar').removeClass();
  $('#nav-bar').removeClass();
  $('#login-bar').hide();
  $('#nav-bar').addClass('col-md-12');
  $('.nav-link').removeClass('nav-highlight');
  $('.project-link').addClass('nav-highlight');
</script>