<h1>Blog Posts</h1>

<% if logged_in? %>
  <% if current_user.admin %>
    <%= link_to 'Create New Blog Post', new_post_path %>
  <% end %>
<% end %>
<% if @posts %>
  <% @posts.reverse.each do |post| %>
    <div class="blog-row mar-t-1">
      <span class="pad-l-1 standard-text"><%= link_to post.title, post_path(post) %></span>
      <span class="standard-text align-right"><%= post.created_at.strftime("%m-%d-%Y") %></span>
    </div>
  <% end %>
<% end %>


<script>
  $('.nav-link').removeClass('nav-highlight');
  $('.blog-link').addClass('nav-highlight');
</script>