<%= link_to 'Back to Blog Index', author_index_path(current_user) %>
<h1>Post Show Page!!</h1>
<div>
  <%= @post.title %>
</div>
<div>
  <%= @post.content %>
</div>

<% if @post.author_id == current_user.id %>
  <div>
    <%= link_to 'Edit Post', edit_post_path(@post) %>
  </div>
<% end %>